.enemy.trooper.type-1 {

    background-image: url("../../../../../../images/classes/game/characters/enemies/trooper-1.svg");

}

.enemy.trooper.type-2 {

    background-image: url("../../../../../../images/classes/game/characters/enemies/trooper-2.svg");

}

.enemy.trooper.type-3 {

    background-image: url("../../../../../../images/classes/game/characters/enemies/trooper-3.svg");

}

.enemy.trooper.type-4 {

    background-image: url("../../../../../../images/classes/game/characters/enemies/trooper-4.svg");

}

.enemy.trooper.type-5 {

    background-image: url("../../../../../../images/classes/game/characters/enemies/trooper-5.svg");

}

.enemy.trooper.type-6 {

    background-image: url("../../../../../../images/classes/game/characters/enemies/trooper-6.svg");

}